body {
    font-size: 9pt;
    padding: 0.3em;
    width: 95%;
}

label {
    display: block;
    white-space: nowrap;
}

span.equip-specs {
    float: right;
    padding-right: 0.5em;
}

label.equip-name:hover {
    cursor: pointer;
}

label.equip-name.even {
    background-color: #efefef;
}

table.description {
    width: 100%;
}

table.description td {
    width: 30%;
    white-space: nowrap;
}

input[type="checkbox"].on-off {
    display: none;
}

input[type="checkbox"].on-off + .description {
    display: none;
}

input[type="checkbox"].on-off:checked + .description {
    display: block;
    padding-left: 2em;
    border: 1px groove gray;
}
