body {
    font-size: 9pt;
}

table#tbl-shiplist {
    border: 1px groove black;
    border-collapse: collapse;

    cursor: default;
}

table#tbl-shiplist tr:hover {
    background-color: #e6faff;
}

fieldset {
    cursor: default;
}

thead {
}

table#tbl-shiplist td {
    text-align: right;
}

td[cond='very-low'] {
    /*background-color: #fa6b6a;*/
    text-shadow: 2px 2px 3px #fa6b6a, -2px -2px 3px #fa6b6a, -2px 2px 3px #fa6b6a, 2px -2px 3px #fa6b6a;
}

td[cond='low'] {
    /*background-color: #eea87a;*/
    text-shadow: 2px 2px 3px #eea87a, -2px -2px 3px #eea87a, -2px 2px 3px #eea87a, 2px -2px 3px #eea87a;
}

td[cond="high"] {
    /*background-color: #ffffc0;*/
    text-shadow: 2px 2px 3px #ffff40, -2px -2px 3px #ffff40, -2px 2px 3px #ffff40, 2px -2px 3px #ffff40;
}

#ship-spec {
}

#ship-spec td:nth-child(1) {
    border-left: groove 1px;
    padding-left: 0.3em;
}

#ship-spec td:nth-child(even) {
    border-right: groove 1px;
    padding-right: 0.3em;
}