/*jQuery UIのスタイル修正*/
.ui-tabs .ui-tabs-panel {
    padding: 0px !important;
    padding-top: 2px !important;
}

/*.jstree-themeicon {*/
/*display: none ! important;*/
/*}*/

/*----------*/
html {
    height: 100%;
}

body {
    font-size: 9pt;
    height: 97%;
}

#tabs {
    height: 100%;
}

div#container {
    display: flex;
    flex-direction: row;

    height: 90%;
}

div#left {
    padding-right: 0.3em;
    overflow: auto;
    /*width: 200px;*/
}

div#left > ul {
    padding-bottom: 2em;
}

div#right {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: auto;
    /*width: 200px;*/
}

div#right-top {
    overflow: auto;
    height: 100%;
}

div#right-bottom {
}

div#separator {
    width: 2px;
    background-color: #cccccc;
    border-left: gray solid 1px;
    border-right: gray solid 1px;
    cursor: col-resize;
}

table#tbl-shiplist {
    border: 1px groove black;
    border-collapse: collapse;

    cursor: default;
}

table#tbl-shiplist tr:hover {
    background-color: #e6faff;
}

table#tbl-shiplist tr:nth-child(10n) {
    border-bottom: 2px solid black;
}

.ship-type {
    white-space: nowrap;
}

.ship-name {
    white-space: nowrap;
}

fieldset {
    cursor: default;
}

th {
    background-color: #e0e0e0;
}

th.list-sort {
    cursor: pointer;
}

table#tbl-shiplist tr {
    cursor: pointer;
}

table#tbl-shiplist td {
    text-align: right;
}

li#kind-user-defined li.jstree-node.dragover {
    border: 1px solid black;
}

tr.large-damage, td.large-damage {
    background-color: #ff8080;
    text-shadow: 1px 1px 2px white, -1px -1px 2px white, -1px 1px 2px white, 1px -1px 2px white;
}

tr.medium-damage, td.medium-damage {
    background-color: #ffbc5d;
    text-shadow: 1px 1px 2px white, -1px -1px 2px white, -1px 1px 2px white, 1px -1px 2px white;
}

tr.small-damage, td.small-damage, span.deployment[icon='warning'] {
    background-color: #ffea5d;
    text-shadow: 1px 1px 2px white, -1px -1px 2px white, -1px 1px 2px white, 1px -1px 2px white;
}

/* 入渠中アイコン */
td[icon="repair"]:after, span[icon="repair"]:after {
    padding-left: 0.2em;
    content: url("../img/cross.png");
}

td[cond='very-low'] {
    background-color: #fa6b6a;
    /*text-shadow: 2px 2px 3px #fa6b6a, -2px -2px 3px #fa6b6a, -2px 2px 3px #fa6b6a, 2px -2px 3px #fa6b6a;*/
}

td[cond='low'] {
    background-color: #eea87a;
    /*text-shadow: 2px 2px 3px #eea87a, -2px -2px 3px #eea87a, -2px 2px 3px #eea87a, 2px -2px 3px #eea87a;*/
}

td[cond="high"] {
    background-color: #ffffc0;
    /*text-shadow: 2px 2px 3px #ffff40, -2px -2px 3px #ffff40, -2px 2px 3px #ffff40, 2px -2px 3px #ffff40;*/
}

td.ship-name[sally="0"]{

}

td.ship-name[sally="1"]{
    border-left: 6px solid #c5c5c5;
}
td.ship-name[sally="2"]{
    border-left: 6px solid #9bb054;
}
td.ship-name[sally="3"]{
    border-left: 6px solid #e3e456;
}
td.ship-name[sally="4"]{
    border-left: 6px solid #3981dd;
}

td.ship-name[sally="5"]{
    border-left: 6px solid cyan;
}


#ship-spec {
}

#equipment {
    border-collapse: collapse;
}

#api_slot_ex:before {
    content: "■ ";
}

#ship-spec label {
    margin-right: 0.5em;
}

#ship-spec td:nth-child(1) {
    border-left: groove 1px;
    padding-left: 0.3em;
}

#ship-spec td:nth-child(even) {
    border-right: groove 1px;
    padding-right: 0.3em;
}

.undetermined_weapon {
    color: red;
    text-decoration: underline;
}

#pieChart {
    height: 100%;
    overflow: auto;
}

/* bar chart */
.bar {
    fill: steelblue;
}

.horizontal-line .tick line {
    stroke: lightgrey;
    opacity: 0.7;
}

#svg-histogram {
    border: 1px solid black;
}
