body {
    /*font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;*/
    font-family: helvetica, arial, 'hiragino kaku gothic pro', meiryo, 'ms pgothic', sans-serif;

    background-color: #ffffff;
}

fieldset {
    border-radius: 5px;
    /*border: 2px gray groove;*/
}

div.panel.over {
    border: 1px dashed #000;
    /*background-color: rgb(255,255,200);*/
}

.mission-name {
    margin-left: 0.5em;
}

.mission-fleet-name {
    margin-right: 0.5em;
}

.mission-finish-time {
    margin-right: 0.5em;
    white-space: nowrap;
}

.last-1min {
    color: red;
    font-weight: bold;
}

table.fleet {
    border-collapse: collapse;
    width: 100%;
}

table.fleet td {
    padding-right: 0.3em;
    padding-left: 0.2em;
}

tr.large-damage {
    background-color: #ff8080;
    text-shadow: 1px 1px 2px white, -1px -1px 2px white, -1px 1px 2px white, 1px -1px 2px white;
}

td[cond='very-low'] {
    /*background-color: #fa6b6a;*/
    text-shadow: 2px 2px 3px #fa6b6a, -2px -2px 3px #fa6b6a, -2px 2px 3px #fa6b6a, 2px -2px 3px #fa6b6a;
}

td[cond='low'] {
    /*background-color: #eea87a;*/
    text-shadow: 2px 2px 3px #eea87a, -2px -2px 3px #eea87a, -2px 2px 3px #eea87a, 2px -2px 3px #eea87a;
}

td[cond="high"] {
    /*background-color: #ffffc0;*/
    text-shadow: 2px 2px 3px #ffff40, -2px -2px 3px #ffff40, -2px 2px 3px #ffff40, 2px -2px 3px #ffff40;
}

td[icon="small-damage"]:after {
    content: "[小破]";
}

td[icon="medium-damage"]:after {
    content: "[中破]";
}

td[icon="large-damage"]:after {
    content: "[大破]";
}

td[icon="destroyed"]:after {
    content: "[轟沈]";
}

/* 未補給警告アイコン */
td[icon="warning"]:after {
    content: url("../img/alert.png");
}

/* 入渠中アイコン */
td[icon="repair"]:after {
    content: url("../img/cross.png");
}
